{% extends 'base.html.twig' %}

{% block body %}
 <style>
        body {
            background: linear-gradient(#510000, #820101);
        }
    </style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/laragon/www/negar_gallery/src/Controller/PolicyController.php</code></li>
        <li>Your template at <code>C:/laragon/www/negar_gallery/templates/policy/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
