{% extends 'base.html.twig' %}


{% block body %}
	<style>
		body {
			background: linear-gradient(#510000, #820101);
		}
	</style>
	<div class="d-flex justify-content-between align-items-center titrPoster">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/young-woman-who-is-posing-covered-with-black-paint-removebg-preview.png') }}" alt="photo">
		</div>
		<h1 class="text-white">Success</h1>
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/portrait-young-woman-who-is-posing-covered-with-black-paint__3_-removebg-preview.png') }}" alt="photo">

		</div>
	</div>
	<div class=" divLogin text-center form-container">
		<p>Payment Successful✅</p>

		<p>Thank you for your purchase!</p>

		<p>Your payment has been successfully processed. You will receive a confirmation email shortly with the details of your order.</p>

		<p>Total Amount:
			{{ totalPrice }}€</p>


	</div>


{% endblock %}
